# Environments
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Node
node_modules/
.next/
out/
build/
.DS_Store

# Logs
*.log

# Windows
Thumbs.db

# Assignment resources
.jetro/
TAKE-HOME ASSIGNMENT.pdf
assignment_text.txt
